# Distribution / packaging
.eggs
*.egg-info
build/
dist/

# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# Unit test / coverage reports
.pytest_cache
.tox/
.coverage
.coverage.*
.cache

# IDEs
.idea

# Patches and files
*.orig
*.rej
.*.swp

# Others
*.flog
*.xz
/__version__.py
/.packit/*.tar.gz
