language: python

sudo: required

env:
  - DIST=fedora32
  - DIST=fedoradev
  - DIST=opensuselp15
  - DIST=opensusetw

# podman is currently not in Ubuntu
addons:
  apt:
    update: true
    sources:
      - sourceline: "ppa:projectatomic/ppa"
    packages:
      - podman

# the python here is basically no-op just used for coveralls
python:
  - "3.6"

before_install:
  # podman needs a basic register set up (packaging bug in the ppa)
  - sudo mkdir -p /etc/containers
  - echo -e "[registries.search]\nregistries = ['docker.io']" | sudo tee /etc/containers/registries.conf
  # we need to register travis to allow subuid/gid for the rootless execution
  - echo "travis:110000:65535" | sudo tee /etc/subuid
  - echo "travis:110000:65535" | sudo tee /etc/subgid

install:
  - pip install coveralls

script:
  - podman build -t $DIST -f test/Dockerfile-$DIST .
  - podman run -v $(pwd):/usr/src/rpmlint/ $DIST python3 -m pytest
  - podman run -v $(pwd):/usr/src/rpmlint/ $DIST python3 -m cProfile -o profile.stats lint.py -V test/source/* test/binary/* > /dev/null
  - podman run -v $(pwd):/usr/src/rpmlint/ $DIST python3 test/dump_stats.py profile.stats

after_success:
  - echo "UPDATE file SET path = REPLACE(path, '/usr/src/rpmlint', '$(pwd)');" | sqlite3 .coverage
  - coveralls
