[FileDigestLocation.filtertest]
FollowSymlinks = false
Locations = [
    "/shell/",
    "/xml/",
    "/default/"
]

[[FileDigestGroup]]
package = "shellpkg"
type = "filtertest"
note = "tests a package that has a shell script; use the 'shell' digester on it"
bug = "bsc#1234"
[[FileDigestGroup.digests]]
path = "/shell/test.sh"
algorithm = "sha256"
digester = "shell"
hash = "44c0c33ec06bb5c82bc1d2cefe697db8d3ec20c5d4bc49c90988251fb57e0e19"

[[FileDigestGroup]]
package = "xmlpkg"
type = "filtertest"
note = "tests a package that has an xml file; use the 'xml' digester on it"
bug = "bsc#1234"
[[FileDigestGroup.digests]]
path = "/xml/test.xml"
algorithm = "sha256"
digester = "xml"
hash = "a6de3b9368a6029d793a8abe1e558579215cef4ee15952c409f991e1ecaf2df8"

[[FileDigestGroup]]
package = "defaultpkg"
type = "filtertest"
note = "tests a package that an arbitrary file; use the 'default' digester on it"
bug = "bsc#1234"
[[FileDigestGroup.digests]]
path = "/default/some.txt"
algorithm = "sha256"
digester = "default"
hash = "826817e99969b8037801d1886cbee8b87df8aa45f99125e72eb8817920cd3e5d"