[FileDigestLocation.cron]
FollowSymlinks = true
Locations = [
    "/etc/cron.d/",
    "/etc/cron.hourly/",
    "/etc/cron.daily/",
    "/etc/cron.weekly/",
    "/etc/cron.monthly/"
]

[[FileDigestGroup]]
package = "otherpackage"
type = "cron"
note = "some other package"
bug = "bsc#1150557"
digests = [
    {
        path = "/etc/cron.daily/other",
        algorithm = "sha256",
        hash = "2e7cb31833f7737215b2bb44d9e8ab42f5b0787ca613b176a490248ad035adb"
    },
]

[[FileDigestGroup]]
package = "tmpwatch"
type = "cron"
note = "removes outdated file in /tmp and some other directories"
bug = "bsc#1150557"
digests = [
    {
        path = "/etc/cron.daily/tmpwatch",
        algorithm = "sha256",
        hash = "2e7cb31833f7737215b2bb44d9e8ab42f5b0787ca613b176a490248ad035adb"
    },
]
