[FileDigestLocation.pam]
FollowSymlinks = true
NamePatterns = [
    "*.so"
]
Locations = [
    "/usr/lib/security/",
    "/usr/lib64/security/",
    "/lib/security/",
    "/lib64/security/"
]

[[FileDigestGroup]]
package = "pam-module"
type = "pam"
note = "legacy: not audited"
bug = ""
nodigests = [
    "/usr/lib*/security/pam-module.so",
]
