[FileDigestLocation.somerestriction]
FollowSymlinks = true
Locations = [
    "/restricted/1/",
    "/alsorestricted/2/"
]

[[FileDigestGroup]]
package = "testpkg"
type = "somerestriction"
note = "tests a package that has matching digests"
bug = "bsc#1234"
digests = [
    {
        path = "/restricted/1/dangerous",
        algorithm = "sha256",
        hash = "537b320f9c3b30276bd54b838b6e6b72e923e70dbdb126926f992d594a30256c"
    },
    {
        path = "/alsorestricted/2/suspicious",
        algorithm = "sha256",
        hash = "a412bca55af87ea264063df10d08a40ff3b8e68106f4a48a3c4a1cacb6394c94"
    },
    {
        path = "/related/and/also/sensitive",
        algorithm = "sha1",
        hash = "ab5ec199027247773d2d617895f49179d7b3186e"
    }
]


[[FileDigestGroup]]
package = "testpkg"
type = "somerestriction"
note = "simulates an older entry with non-matching entries"
bug = "bsc#1230"
digests = [
    {
        path = "/restricted/1/dangerous",
        algorithm = "sha256",
        hash = "b95badaa4972401e2c1cdfd563e7042d03b7d7e78c920c0ab71da8eda285d2f9"
    },
    {
        path = "/some/other/file",
        algorithm = "sha1",
        hash = "3853ea8766852698f71604aa59e250847373dd07"
    }
]

