[FileDigestLocation.varlinktest]
FollowSymlinks = false
Locations = [
    "/sockets/",
]
NamePatterns = [
    "*.socket",
]
ContentCheck = "VarlinkServiceCheck"

[[FileDigestGroup]]
package = "socketpkg"
type = "varlinktest"
note = "tests a package which as a systemd.socket unit"
bug = "bsc#4321"
[[FileDigestGroup.digests]]
path = "/sockets/the.socket"
algorithm = "sha256"
digester = "systemd-socket"
hash = "7978041027394b996610b0de563a83fea8ad425c1f6837e57c1b65863dac9933"
