[FileDigestLocation.globber]
FollowSymlinks = false
Locations = [
    "/glob/me/please",
]

[[FileDigestGroup]]
package = "glob:globpackage*"
type = "globber"
note = "globpackage with -suffix"
bug = "bsc#1150557"
[[FileDigestGroup.digests]]
path = "/glob/me/please/restricted"
algorithm = "sha256"
hash = "88b79f234676da1b6266ee412a12570bd7183707e9f593a4fee3849b119ce897"

[[FileDigestGroup]]
packages = ["glob:some[0-9]-package"]
type = "globber"
note = "globpackage some<version>-package"
bug = "bsc#1150557"
[[FileDigestGroup.digests]]
path = "/glob/me/please/restricted"
algorithm = "sha256"
hash = "88b79f234676da1b6266ee412a12570bd7183707e9f593a4fee3849b119ce897"

[[FileDigestGroup]]
package = "somepkg"
type = "globber"
note = "non-glob package with glob file path"
bug = "bsc#1150557"
[[FileDigestGroup.digests]]
path = "glob:/glob/me/please/glob-*"
algorithm = "sha256"
hash = "88b79f234676da1b6266ee412a12570bd7183707e9f593a4fee3849b119ce897"
