[FileDigestLocation.pamincludetxt]
FollowSymlinks = true
NamePatterns = [
    "*.txt"
]
Locations = [
    "/usr/lib/security/",
    "/usr/lib64/security/",
    "/lib/security/",
    "/lib64/security/"
]

[[FileDigestGroup]]
package = "pam_krb5"
type = "pamincludetxt"
note = "legacy: not audited"
bug = ""
nodigests = [
    "glob:/lib*/security/pam_krb5.so",
]
