[FileDigestLocation.somerestriction]
FollowSymlinks = true
Locations = [
    "/restricted/1/",
    "/alsorestricted/2/"
]

[[FileDigestGroup]]
package = "testpkg"
type = "somerestriction"
note = "tests a package that has matching digests"
bug = "bsc#1234"
nodigests = [
    "/restricted/1/dangerous",
    "/alsorestricted/2/suspicious",
]
digests = [
    {
        path = "/related/and/also/sensitive",
        algorithm = "sha1",
        hash = "ab5ec199027247773d2d617895f49179d7b3186e"
    }
]


[[FileDigestGroup]]
package = "testpkg"
type = "somerestriction"
note = "simulates an older entry with non-matching entries"
bug = "bsc#1230"
nodigests = [
    "/restricted/1/dangerous",
    "/some/other/file",
]
