# Test config
Distribution = "Fedora Project"
Vendor = "Fedora Project"

MandatoryOptflags = ['-fno-PIE', '-g', '-Ofast']
ForbiddenOptflags = ['-frounding-math']

[WarnOnFunction.crypto-policy-non-compliance-openssl]
f_name = "SSL_CTX_set_cipher_list"
description = '''This application package calls a function to explicitly set crypto ciphers
        for SSL/TLS. That may cause the application not to use the system-wide set
        cryptographic policy and should be modified in accordance to:
        https://fedoraproject.org/wiki/Packaging:CryptoPolicies'''
[WarnOnFunction.crypto-policy-non-compliance-gnutls-1]
f_name = "gnutls_priority_set_direct"
description = '''This application package calls a function to explicitly set crypto ciphers
        for SSL/TLS. That may cause the application not to use the system-wide set
        cryptographic policy and should be modified in accordance to:
        https://fedoraproject.org/wiki/Packaging:CryptoPolicies'''
[WarnOnFunction.crypto-policy-non-compliance-gnutls-2]
f_name = "gnutls_priority_init"
good_param = "SYSLOG"
description = '''This application package calls a function to explicitly set crypto ciphers
        for SSL/TLS. That may cause the application not to use the system-wide set
        cryptographic policy and should be modified in accordance to:
        https://fedoraproject.org/wiki/Packaging:CryptoPolicies'''

[FileDigestLocation.cron]
FollowSymlinks = false
Locations = [
    "/etc/cron.d/",
    "/etc/cron.hourly/",
    "/etc/cron.daily/",
    "/etc/cron.weekly/",
    "/etc/cron.monthly/"
]

[FileDigestLocation.dbus]
FollowSymlinks = true
Locations = [
    "/usr/share/dbus-1/system-services/",
    "/usr/share/dbus-1/system.d/",
    "/etc/dbus-1/system.d/"
]

[FileDigestLocation.polkit]
FollowSymlinks = true
Locations = [
    "/etc/polkit-default-privs.d/",
    "/etc/polkit-1/rules.d/",
    "/usr/share/polkit-1/rules.d/"
]

[[FileDigestGroup]]
package = "file-signature-good"
type = "cron"
bug = "bsc#4712"
note = "Builds statistics based on Squid logfile metadata."
digests = [
  {
    path = "/etc/cron.daily/suse.de-sarg",
    algorithm = "sha256",
    hash = "edeaaff3f1774ad2888673770c6d64097e391bc362d7d6fb34982ddf0efd18cb"
  },
  {
    path = "/etc/cron.daily/test-me",
    algorithm = "skip"
  },
  {
    path = "/var/out",
    algorithm = "sha256",
    hash = "da1464fd7ceaf38ff56043bc1774af4fb5cb83ef5358981d78de0b8be5a6fbcb"
  }
]

[[FileDigestGroup]]
package = "file-signature-good"
type = "dbus"
bug = "bsc#12345"
note = "Some indians live here."
digests = [
  {
    path = "/etc/apache3/something",
    algorithm = "sha256",
    hash = "d536dc68e198189149048a907ea6d56a7ee9fc732ae8fec5a4072ad06640e359"
  }
]

[[FileDigestGroup]]
package = "file-signature-bad"
type = "cron"
bug = "bsc#4712"
note = "Builds statistics based on Squid logfile metadata."
digests = [
  {
    path = "/etc/cron.daily/suse.de-sarg",
    algorithm = "sha256",
    hash = "edeaaff3f1774ad2888673770c6d64097e391bc362d7d6fb34982ddf0efd18cb"
  },
  {
    path = "/etc/cron.daily/test-me",
    algorithm = "skip"
  },
]

[[DeviceFilesWhitelist]]
package = "dummy"
bug = "bsc#123456"
note = "I am a note"
files = [
  {
    path = '/dev/sdb1',
    mode = "crw-rw----",
    owner = "root",
    group = "tty",
    device_minor = 12,
    device_major = 55
  }
]

[[WorldWritableWhitelist]]
package = "dummy"
bug = "bsc#123456"
note = "I am a note"
files = [
  {
    path = '/tempus',
    mode = "drw-rw---t",
    owner = "root",
    group = "tty"
  }
]
