Filters = [
    '.*invalid-buildhost.*',
    '.*executable-in-library-package.*',
    '.*non-versioned-file-in-library-package.*',
    '.*shlib-policy-name-error.*',
    # this is just a comment to be ignored by the parsing
    '.*hardcoded-path-in-buildroot-tag.*',
    '.*no-buildroot-tag.*',
    '.*cross-directory-hard-link.*',
    'no-regex',
    ' no-regex-with-leading-space',
    'ngircd.*: E: bad-error',
    '^ngircd.*: E: test-color-error details of the error$'
]

[Scoring]
test-color-error = 12345
