
[Desktop Entry]
Name=Tasque
Name[ca]=Tasque
Name[ca@valencia]=Tasque
Name[cs]=Tasque
Name[da]=Tasque
Name[de]=Tasque
Name[el]=Tasque
Name[en_GB]=Tasque
Name[eo]=Taskil
Name[es]=Tasque
Name[et]=Ülesandetasku
Name[fr]=Tasque
Name[gl]=Tasque
Name[hu]=Tasque
Name[id]=Tasque
Name[it]=Tasque
Name[ja]=Tasque
Name[lv]=Tasque
Name[nb]=Tasque
Name[nds]=Tasque
Name[pl]=Tasque
Name[pt]=Tasque
Name[pt_BR]=Tasque
Name[ro]=Tasque
Name[ru]=Tasque
Name[sl]=Tasque
Name[sr]=Задачићи
Name[sr@latin]=Zadačići
Name[sv]=Tasque
Name[th]=Tasque
Name[tr]=Tasque
Name[zh_CN]=Tasque
Name[zh_TW]=Tasque
Comment=Easy quick task management
Comment[ca]=Gestor de tasques ràpid i fàcil
Comment[ca@valencia]=Gestor de tasques ràpid i fàcil
Comment[cs]=Snadná a rychlá správa úkolů
Comment[da]=Nem og hurtig opgavehåndtering
Comment[de]=Leichte, schnelle Aufgabenverwaltung
Comment[el]=Εύκολη και γρήγορη διαχείριση εργασιών
Comment[en_GB]=Easy and quick task management
Comment[eo]=Facila rapida task-administrado
Comment[es]=Gestione sus tareas fácil y rápidamente
Comment[et]=Lihtne ja kiire ülesandehaldus
Comment[fr]=Gestionnaire de tâches simple et rapide
Comment[gl]=Xestión de tarefas sinxela e fácil
Comment[hu]=Egyszerű, gyors feladatkezelés
Comment[id]=Manajemen tugas yang cepat dan mudah
Comment[it]=Facile e veloce gestore delle attività
Comment[ja]=素早く簡単にタスクを管理します
Comment[lv]=Vienkāršs un ātrs uzdevumu pārvaldnieks
Comment[nb]=Enkel oppgavehåndtering
Comment[nds]=Eenfaches un fixes Opgavoppassen
Comment[pl]=Łatwe i szybkie zarządzanie zadaniami
Comment[pt]=Gestão de tarefas fácil e rápida
Comment[pt_BR]=Gerenciamento fácil e rápido de tarefas
Comment[ro]=Gestionarea ușoară a sarcinilor
Comment[ru]=Простое и быстрое управление задачами
Comment[sl]=Enostavno in hitro upravljanje nalog
Comment[sr]=Лако и брзо управљање задацима
Comment[sr@latin]=Lako i brzo upravljanje zadacima
Comment[sv]=Snabb och enkel aktivitetshantering
Comment[th]=บริหารจัดการภารกิจอย่างง่ายและรวดเร็ว
Comment[tr]=Kolay hızlı görev yönetimi
Comment[zh_CN]=简单快速任务管理器
Comment[zh_TW]=簡易快速的工作管理
GenericName=Task Manager
GenericName[ca]=Gestor de tasques
GenericName[ca@valencia]=Gestor de tasques
GenericName[cs]=Správce úkolů
GenericName[da]=Opgavehåndtering
GenericName[de]=Aufgabenverwaltung
GenericName[el]=Διαχειριστής εργασιών
GenericName[en_GB]=Task Manager
GenericName[eo]=Task-administrilo
GenericName[es]=Gestor de tareas
GenericName[et]=Ülesandehaldur
GenericName[fr]=Gestionnaire de tâches
GenericName[gl]=Xestor de tarefas
GenericName[hu]=Feladatkezelő
GenericName[id]=Manajer Tugas
GenericName[it]=Gestore attività
GenericName[ja]=タスク・マネージャー
GenericName[lv]=Uzdevumu pārvaldnieks
GenericName[nb]=Oppgavehåndterer
GenericName[nds]=Opgavoppassens
GenericName[pl]=Menedżer zadań
GenericName[pt]=Gestor de Tarefas
GenericName[pt_BR]=Gerenciador de tarefas
GenericName[ro]=Administrator de sarcini
GenericName[ru]=Менеджер задач
GenericName[sl]=Upravljalnik nalog
GenericName[sr]=Управник задатака
GenericName[sr@latin]=Upravnik zadataka
GenericName[sv]=Aktivitetshanterare
GenericName[th]=เครื่องมือจัดการภารกิจ
GenericName[tr]=Görev Yöneticisi
GenericName[zh_CN]=任务管理
GenericName[zh_TW]=工作管理
Exec=tasque
Icon=tasque
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;X-SuSE-Core-Office;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tasque
X-GNOME-Bugzilla-Component=General

