[Scoring]
arch-dependent-file-in-usr-share = 590
arch-independent-package-contains-binary-or-object = 499
binary-in-etc = 900
devel-file-in-non-devel-package = 50
dir-or-file-in-var-lock = 10000
dir-or-file-in-var-run = 10000
env-script-interpreter = 9
executable-docs = 900
file-contains-buildroot = 10000
files-duplicated-waste = 100
hardlink-across-config-files = 10000
hardlink-across-partition = 10000
info-dir-file = 10000
invalid-pkgconfig-file = 10000
libtool-wrapper-in-package = 10000
lto-bytecode = 10000
lto-no-text-in-archive = 10000
makefile-junk = 109
no-pkg-config-provides = 300
non-ghost-in-run = 10000
non-position-independent-executable = 10000
percent-in-conflicts = 10000
percent-in-dependency = 10000
percent-in-obsoletes = 10000
percent-in-provides = 10000
spurious-executable-perm = 50
summary-ended-with-dot = 20
summary-not-capitalized = 20
summary-too-long = 200
filelist-forbidden = 10000
filelist-forbidden-backup-file = 10000
filelist-forbidden-debuginfo = 10000
filelist-forbidden-games = 10000
filelist-forbidden-locale = 10000
filelist-forbidden-noarch = 10000
filelist-forbidden-perl-dir = 10000
filelist-forbidden-srv = 10000
filelist-forbidden-suseconfig = 10000
filelist-forbidden-sysconfig = 10000
filelist-forbidden-xorg = 10000
filelist-forbidden-yast2 = 10000
kmp-missing-supplements = 10000
wrong-script-interpreter = 490
obsolete-insserv-requirement = 10000
deprecated-init-script = 10000
deprecated-boot-script = 10000
# Temporarily disable once boo#1199268 gets fixed
# binary-or-shlib-defines-rpath = 10000
pam-file-ghost = 10
pam-file-unauthorized = 10
pam-file-symlink = 10
polkit-untracked-privilege = 10
polkit-user-privilege = 10
polkit-xml-exception = 10
polkit-ghost-file = 10
polkit-file-digest-mismatch = 10
polkit-file-ghost = 10
polkit-file-unauthorized = 10
polkit-file-symlink = 10
permissions-directory-setuid-bit = 10
permissions-missing-postin = 10
permissions-file-digest-mismatch = 10
permissions-file-ghost = 10
permissions-file-unauthorized = 10
permissions-file-setuid-bit = 10
permissions-file-symlink = 10
permissions-parse-error = 10
pam-unauthorized-module = 10
world-writable-unauthorized-file = 10
world-writable-mismatched-attrs = 10
device-unauthorized-file = 10
device-mismatched-attrs = 10
cron-file-digest-mismatch = 10
cron-file-ghost = 10
cron-file-unauthorized = 10
cron-file-symlink = 10
dbus-file-digest-mismatch = 10
dbus-file-ghost = 10
dbus-file-parse-error = 10
dbus-file-unauthorized = 10
dbus-file-symlink = 10
sudoers-file-digest-mismatch = 10
sudoers-file-ghost = 10
sudoers-file-unauthorized = 10
sudoers-file-symlink = 10
systemd-tmpfile-entry-unauthorized = 10
systemd-tmpfile-ghost = 10
systemd-tmpfile-parse-error = 10
systemd-tmpfile-symlink = 10
