[Scoring]
arch-dependent-file-in-usr-share = 590
arch-independent-package-contains-binary-or-object = 499
binary-in-etc = 900
devel-file-in-non-devel-package = 50
dir-or-file-in-var-lock = 10000
dir-or-file-in-var-run = 10000
env-script-interpreter = 9
executable-docs = 900
file-contains-buildroot = 10000
files-duplicated-waste = 100
hardlink-across-config-files = 10000
hardlink-across-partition = 10000
info-dir-file = 10000
invalid-license = 100000
invalid-pkgconfig-file = 10000
libtool-wrapper-in-package = 10000
lto-bytecode = 10000
lto-no-text-in-archive = 10000
makefile-junk = 109
no-pkg-config-provides = 300
non-ghost-in-run = 10000
non-position-independent-executable = 10000
percent-in-conflicts = 10000
percent-in-dependency = 10000
percent-in-obsoletes = 10000
percent-in-provides = 10000
spurious-executable-perm = 50
summary-ended-with-dot = 20
summary-not-capitalized = 20
summary-too-long = 200
pam-unauthorized-module = 10000
wrong-script-interpreter = 490
